@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

.logoContainerHome{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/rt-logo.png');
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catalogPreview{
    display: none;
}

.viewCatalog{

    color: #89d1d6;
    text-shadow: 2px 2px #F4442E;
    font-size: x-large;
    font-family: "Workbench", sans-serif;

    
}

.logoContainer{
    background: linear-gradient(to right, #94b9ff 50%, #c1ff72);
    position: relative;
    display: flex;
    width: 100vw;
    height: 100px;
    flex: column;
}
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url('/begood2.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.navBar{
    font-family: "Workbench", sans-serif;
    position: absolute;
    top: 50px;
    right: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalogContent{
    background: linear-gradient(to bottom, #c1ff72, #89d1d6);
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

}
.itemCard{
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 10px;
    font-family: "Workbench", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;
    background: linear-gradient(to bottom right, #ffa9f9, #3F84E5);
}
.itemDescription{
    font-family: Arial, Helvetica, sans-serif;
}


.productPageContainer{
    display: flex;
    flex-direction: column;
}
.productPageNavBar{
    width: 100vw;
    height: 50px;
    background-color: #c1ff72;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.shoppingTotal{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#cartTotal{
    position: absolute;
    bottom: 0px;
    right: -5px;

    background: #89d1d6;
    border-radius: 50%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
.individualProductContainer{
    width: 100vw;
    height: 110vh;
    background: linear-gradient(to bottom, #c1ff72, #89d1d6);
    display: flex;
    flex-direction: column;
}
#productName{
    font-family: "Workbench", sans-serif;
    text-shadow:  2px 2px 4px #F4442E;
}
#productDesc{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#productPrice{
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    font-family: "Workbench", sans-serif;
    text-shadow: 2px 2px 4px #ffa9f9;
}
.imageCartControl{
    display: flex;
    flex-direction: row;
}
.sizeSelector{
    width: 400px;
}
.sizeIncDecBtn{
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.selectNonValid{
    animation-name: nonValidBtnClick;
    animation-duration: .5s;
}
@keyframes nonValidBtnClick {
    0%  {background-color: transparent;}
    25% {background-color: red;}
    100% {background-color: transparent}
  }
.incDecAddBtns{
    width: 400px;

    display: flex;
    flex-direction: row;
}
#addToCartBtn{
    width: 300px;
}



@media only screen and (max-width: 450px){
    .logoContainerHome{
        width: 100vw;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100% 100%; 

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .catalogPreview{
        width: 100vw;
        height: 75vh;
        display: flex;
    }
    .catalog{
        display: flex;
        flex-direction: column;
    }
    .logoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 90px;
    }
    .logoNavContainer{
        display: flex;
        flex-direction: column;
    }
    .logo{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url('/begood3.png');
        background-repeat: no-repeat;
        background-size: contain; 
    }

    .navBar{
        /* DO NOT CHANGE CANNOT OVERRIDE W/ STANDING REG MONITOR STYLES */
        position: absolute;
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, #c1ff72, #89d1d6);
        font-family: "Workbench", sans-serif;
        top: 100px;
        left: 8px; 
    } 

    .catalogContent{
        background: linear-gradient(to bottom, #c1ff72, #89d1d6);
        width: 100vw;
        height: fit-content;
        padding-top: 70px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
    
    }
    
    .itemCard{
        flex-basis: calc(50% - 20px);
        margin-bottom: 10px;
        font-family: "Workbench", sans-serif;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-items: center;

        border-radius: 15px;
        background: linear-gradient(to bottom right, #ffa9f9, #3F84E5);
    }
    
    .itemDescription{
        font-family: Arial, Helvetica, sans-serif;
    }


    .individualProductContainer{
        width: 110vw;
        height: 120vh;
        background: linear-gradient(to bottom, #c1ff72, #89d1d6);
        display: flex;
        flex-direction: column;
    }
    #productPrice{
        display: flex;
        justify-content: flex-start;
        font-family: "Workbench", sans-serif;
        text-shadow: 2px 2px 4px #ffa9f9;
    }
    .productPageNavBar{
        width: 110vw;
        font-size: large;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .shoppingTotal{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    #cartTotal{
        position: absolute;
        bottom: 0px;
        right: -5px;
    
        background: #89d1d6;
        border-radius: 50%;
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
    }
    #productName{
        font-family: "Workbench", sans-serif;
        text-shadow:  2px 2px 4px #F4442E;
    }
    #productDesc{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .imageCartControl{
        display: flex;
        flex-direction: column;
    }
    .sizeSelector{
        width: 300px;
    }
    .sizeIncDecBtn{
        width: 400px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .incDecAddBtns{
        width: 300px;
    
        display: flex;
        flex-direction: row;
    }
    #addToCartBtn{
        width: 300px;
    }
} 